@charset "UTF-8";
body {
  font-family: 'Poppins', sans-serif !important; }

h1 {
  font-family: 'Oswald', sans-serif; }

a {
  text-decoration: none; }

h3 {
  font-size: 1.4rem; }

h2 {
  font-family: 'oswald', sans-serif !important; }

a:hover {
  color: #f5f710;
  text-decoration: underline; }

section {
  margin-bottom: 100px; }

footer {
  background: #000;
  color: #fff;
  height: 160px;
  text-align: center;
  padding: 35px; }
  footer .fab {
    background: white;
    padding: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    transition: all 1ms;
    cursor: pointer; }
  footer .fab:before {
    color: black; }
  footer .fab:hover {
    background: #f5f70d; }
  footer .social {
    margin-bottom: 7px; }
  footer .copy p {
    margin: 6px 0 0; }
  footer span {
    font-size: 0.7rem; }
  footer .info {
    font-size: 0.9rem;
    margin: 0 0 12px; }

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }
  #header.header-scrolled {
    background: #fff;
    box-shadow: 0px 0px 7px #948989;
    transition: all 0.5s; }
    #header.header-scrolled .container {
      max-width: 100% !important; }
    #header.header-scrolled .img-logo {
      display: none;
      transition: ease-in-out 0.7s; }
    #header.header-scrolled .firt-nav {
      border-bottom: none;
      margin: -50px 0; }
    #header.header-scrolled .icon-nav {
      margin: 64px 0; }
    #header.header-scrolled .navbar-light .navbar-nav .nav-link {
      color: #000; }

.nav-main .img-logo {
  width: 50%; }

.nav-main .logo {
  text-align: center;
  /* margin: 10px; */ }

.nav-main .option img {
  width: 20px; }

.nav-main .firt-nav {
  width: 100%;
  height: 100px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #c6c6d0; }

.nav-main .content-nav {
  margin: 10px 0; }

.nav-main .icon-nav {
  width: 30px;
  margin: 40px 0; }

/* buscador */
/* slider banner */
.banner .img {
  margin-top: 150px;
  background-size: cover;
  height: 70vh;
  object-fit: cover;
  position: relative;
  background-position: 50% 50%;
  width: 100%;
  background-repeat: no-repeat; }

.banner .text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 518px;
  text-align: center;
  -ms-flex-direction: column;
  flex-direction: column; }

.banner .btn {
  margin-top: 20px;
  z-index: 1; }

.banner h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 0px 12px #272727;
  z-index: 1; }

.banner .slide {
  --color: #f5f70d;
  --hover: #fff; }

.banner .mask {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  bottom: 0;
  z-index: 1; }

.product {
  position: relative; }
  .product .product-popular {
    margin: 40px 0; }
    .product .product-popular .slick-dots {
      bottom: -25px !important; }
    .product .product-popular .slick-next:before {
      content: '＞'; }
    .product .product-popular .slick-prev:before {
      content: "＜"; }
    .product .product-popular .slick-prev:before, .product .product-popular .category-show .slick-next:before {
      font-size: 30px;
      color: #b1adad; }
    .product .product-popular .slick-next:before, .product .product-popular .category-show .slick-next:before {
      font-size: 30px;
      color: #b1adad; }
    .product .product-popular .slick-prev {
      left: -50px; }
    .product .product-popular .slick-next {
      right: -50px; }
  .product h2:before {
    position: absolute;
    top: 120px;
    content: "";
    width: 70px;
    height: 4px;
    background-color: #f5f710;
    left: 16px; }
  .product .text-product {
    padding: 15px; }
    .product .text-product span {
      font-weight: 600;
      font-size: 1.1rem; }
    .product .text-product p {
      font-size: 0.9rem;
      margin-bottom: 12px; }
    .product .text-product .icono-add {
      width: 30px; }
  .product .buy {
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin: 15px 0 0; }
    .product .buy p {
      border-right: 1px solid #c6c6d0;
      font-size: 1rem; }
  .product .buy:before {
    position: absolute;
    top: -14px;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #c6c6d0;
    left: -30px; }
  .product .card-product {
    width: 100%;
    box-shadow: 0px 4px 12px #e0cfcf;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    text-align: center; }
  .product .img-product img {
    max-width: 190px;
    min-width: 190px;
    min-height: 190px;
    max-height: 190px; }
  .product .img-product {
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex; }
  .product .product-popular .wrapper {
    width: 100%;
    padding-top: 20px;
    text-align: center; }
  .product .product-popular .slick-slide {
    margin: 10px; }
  .product a {
    color: #000; }

.slick-dots li button:before {
  font-size: 6rem !important;
  content: '-' !important;
  color: #131313 !important; }

.slick-dots li.slick-active button:before {
  color: #f5f70d !important; }

.slick-dots {
  bottom: 50px !important; }

.category-show .category-content {
  width: 100%;
  box-shadow: 0px 4px 12px #e0cfcf;
  transition: all 0.3s ease 0s;
  border-radius: 5px; }
  .category-show .category-content .body {
    padding: 25px; }
    .category-show .category-content .body img {
      width: 50%;
      height: 100%; }
    .category-show .category-content .body .content-show {
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .category-show .category-content .body .content-show span {
        font-weight: 600;
        font-size: 1rem; }
      .category-show .category-content .body .content-show p {
        font-size: 0.9rem;
        margin-bottom: 0; }
  .category-show .category-content .buy {
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .category-show .category-content .buy .icono-add {
      width: 30px;
      height: 30px;
      padding: 4px; }
    .category-show .category-content .buy p {
      border-right: 1px solid #efefef;
      padding: 5px; }

.category-show h3 {
  padding: 30px 40px 10px;
  font-size: 1.6rem;
  font-weight: 800;
  font-family: 'oswald', sans-serif !important; }

.category-show h3:before {
  position: absolute;
  top: 70px;
  content: "";
  width: 70px;
  height: 4px;
  background-color: #f5f710;
  left: 56px; }

.category-show .slick-prev {
  left: 440px; }

.category-show .slick-next {
  right: 30px; }

.category-show .slick-prev, .category-show .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: -12%; }

.category-show .slick-next:before {
  content: '＞'; }

.category-show .slick-prev:before {
  content: "＜"; }

.category-show .slick-prev:before, .category-show .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #b1adad; }

.upload {
  position: relative; }
  .upload .parallax {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .upload h1 {
    font-size: 2.5rem;
    z-index: 1; }
  .upload a {
    background: #f5f70d;
    padding: 15px 35px;
    color: #000;
    border-radius: 5px;
    margin-top: 50px;
    z-index: 1; }
  .upload .slide {
    --color: #f5f70d;
    --hover: #fff; }
  .upload .button {
    background: #f5f70d;
    color: #000;
    z-index: 1; }
  .upload p {
    margin: 0;
    z-index: 1; }
  .upload .center {
    height: 500px;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-grid;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff; }
  .upload .mask {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.slide {
  --color: #f5f70d;
  --hover: #f5f70d; }

.slide:hover,
.slide:focus {
  box-shadow: inset 9.5em 0 0 0 var(--hover); }

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color); }

.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover); }

.button {
  color: var(--color);
  transition: 1s; }

.button:hover,
.button:focus {
  border-color: var(--hover);
  color: #000; }

.button {
  background: #f5f70d;
  border: none;
  padding: 16px 40px;
  border-radius: 5px;
  margin-top: 30px;
  font-size: .9rem;
  cursor: pointer;
  color: #000 !important; }

.school-card {
  position: relative; }
  .school-card .body {
    height: 390px;
    width: 100%;
    box-shadow: 0px 4px 12px #e0cfcf;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    text-align: center;
    margin: 50px 0; }
    .school-card .body:hover {
      box-shadow: 0px 4px 12px #f5e9e9;
      -ms-transform: translateY(-10px);
      transform: translateY(-10px); }
  .school-card img {
    width: 50%;
    padding: 25px 0 0px; }
  .school-card .content {
    height: 240px;
    padding: 0 45px; }
  .school-card p {
    text-align: start;
    border-bottom: 1px solid #efefef; }
  .school-card a p {
    text-align: start;
    font-weight: 600;
    border-bottom: none;
    color: #000; }
  .school-card .img {
    height: 170px; }
  .school-card h2 {
    font-family: 'oswald', sans-serif !important; }
  .school-card h2:before {
    position: absolute;
    top: 50px;
    content: "";
    width: 70px;
    height: 4px;
    background-color: #f5f710;
    left: 5px; }

.search-wrapper {
  position: relative;
  background: transparent;
  border-radius: 20px;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #c6c6d0;
  cursor: pointer;
  transition: 250ms ease;
  transition: 250ms ease; }

.search-wrapper.focused {
  width: 200px; }

.search-wrapper.focused input {
  padding: 0 40px 0 13px;
  width: 100%;
  -ms-transform: scale(1);
  transform: scale(1); }

.search-wrapper input {
  background: transparent;
  border: 0;
  color: white;
  outline: none;
  height: 40px;
  width: 0;
  overflow: hidden;
  font-weight: 100;
  -ms-transform: scale(0);
  transform: scale(0);
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: 275ms ease; }

.search-wrapper input::-webkit-input-placeholder {
  color: #cccccc; }

.search-wrapper input:-ms-input-placeholder {
  color: #cccccc; }

.search-wrapper input::-ms-input-placeholder {
  color: #cccccc; }

.search-wrapper input:-ms-input-placeholder {
  color: #cccccc; }

.search-wrapper input::placeholder {
  color: #cccccc; }

.search-wrapper i {
  position: absolute;
  color: #000;
  font-size: 18px;
  top: 50%;
  right: 10px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/*------------------------------------------------------------------
  	[Header]
------------------------------------------------------------------*/
/* Fixed Top */
.navbar-fixed-top .navbar-collapse {
  max-height: 100%; }

/* Navbar */
.header .navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }

#categories, #product, #school, .upload {
  padding-top: 70px; }
