@media (min-width: 0px) and (max-width: 767px) {
    .firt-nav, .navbar{
        display: none!important;
    }
    #main_xs{
        background: #fff;
    width: 100%;
    height: 70px;
    padding: 10px 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0 4px 2px -2px #0000000d;
    }
    .frame-menu a{
        color: #0e57a4!important;
        font-size: 1rem!important;
    }
    #home {
    margin-top: -80px;
}
    .logo-responsive img{
        width: 130px;
    }
    /* banner */
    .banner h1 {
        font-size: 2rem;
    }
    .button {
        padding: 12px 30px;
    }
    .upload .mask {
        top: 69px;
    }

    .hamburger {
        opacity: 1;
        margin-top: -15px;
    }
    .navbar-light .navbar-toggler,
    .icon-nav {
        display: none!important;
    }
    section {
        margin-bottom: 10px;
    }
    footer span {
        font-size: 0.6rem;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid #1151a8;
    }
    .logo-responsive{
        visibility: visible;
      }
    .menu_xs {
        background: #fff;
        top: 69px;
    }
     .text-product span  {
        font-size: 0.8rem!important;
    }
   .text span{
        font-size: 0.8rem!important;
    }
    #categories {
        padding-top: 0px;
    }
    .banner .img {
      margin-top: 80px;
    }
  .banner .mask {
    top: 80px;
  }

    footer {
        height: auto;
    }

    footer .info {
        font-size: 0.8rem;
        margin: 0 0 12px;
        justify-content: start;
        display: flex;
    }
    .columns-3 li {
        height: 290px!important;
        width: 80%!important;
    }
    ul.products.columns-3 {
        display: inherit!important;
        margin: 0!important;
        padding-left:initial!important;
    }
    .woocommerce-breadcrumb {
        margin-top: 100px;
    }

    .slick-prev,
    .slick-next {
        display: none !important;
    }
    .site-main {
        margin: 15px;
    }
}

/* 768-577 tablet */

/* @media (min-width: 576px) {
 
 } */

@media (min-width: 768px) {

  .banner h1 {
    font-size: 3rem;
  }
  footer {
    background: #000;
    color: #fff;
    height: 194px;
  }
  #home {
    margin-top: -150px;
}
.animated {
    -webkit-animation-duration: inherit!important;
    animation-duration: inherit!important;
    -webkit-animation-fill-mode: inherit!important;
    animation-fill-mode: inherit!important;
}
.category-show .category-content .body img {
    width: 80px;
    height: 80px;
}
}

@media (min-width: 992px) {
  .school-card h3{
    font-size: 1rem;
  }
  #home {
    margin-top: -150px;
}
.category-show .category-content .body .content-show span {
    font-size: .8rem;
}
.category-show .category-content .body .content-show p {
    font-size: 0.7rem;

}
.animated {
    -webkit-animation-duration: inherit!important;
    animation-duration: inherit!important;
    -webkit-animation-fill-mode: inherit!important;
    animation-fill-mode: inherit!important;
}
.category-show .slick-prev {
    left: 361px;
}
}

@media (min-width: 1200px) {
  
}
