@media (min-width: 0px) and (max-width: 767px) {
    .firt-nav{
        display: none!important;
    }
    #main_xs{
        background: red;
    width: 100%;
    height: 100px;
    }
    /* banner */
    .banner h1 {
        font-size: 2rem;
    }
    .button {
        padding: 12px 30px;
    }
    .upload .mask {
        top: 69px;
    }

    .hamburger {
        opacity: 1;
        margin-top: -5px;
    }
    .navbar-light .navbar-toggler,
    .icon-nav {
        display: none!important;
    }
 
    #categories {
        padding-top: 0px;
    }
    .banner .img {
      margin-top: 80px;
    }
  .banner .mask {
    top: 80px;
  }

    footer {
        height: auto;
    }

    footer .info {
        font-size: 0.8rem;
        margin: 0 0 12px;
        justify-content: start;
        display: flex;
    }


    .slick-prev,
    .slick-next {
        display: none !important;
    }
    
}

/* 768-577 tablet */

/* @media (min-width: 576px) {
 
 } */

@media (min-width: 768px) {

  .banner h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  .school-card h3{
    font-size: 1rem;
  }

}

@media (min-width: 1200px) {}
