.woocommerce{
  margin-top: 200px!important;
  display: inline-flex;
  position: relative;
}

.woocommerce table.shop_table {
  /* width: 50%!important; */
}
.cart_totals, .woocommerce-cart-form{
  box-shadow: 0px 4px 12px #e0cfcf;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  background: #fff;
  padding: 25px 45px;
}
.cart_totals h2:before{
  position: absolute;
  top: 67px;
  content: "";
  width: 70px;
  height: 4px;
  background-color: #f5f710;
  left: auto;
  /* width: 100%;
  box-shadow: 0px 4px 12px #e0cfcf;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  background: #fff; */

}
.woocommerce-cart-form h2:before{
  position: absolute;
  top: 67px;
  content: "";
  width: 70px;
  height: 4px;
  background-color: #f5f710;
  left: 44px;
}
.cart_totals h2{
  margin-bottom: 40px;
}
.woocommerce-cart-form h2{
  margin-bottom: 40px;

}
.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
  width: 50%!important;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: inherit!important;
    width: 110%!important;
    margin-left: 25px!important;
}
.woocommerce table.shop_table {
  border: 0!important;
  margin: 0 -1px 40px 0!important;
  

}
.woocommerce img, .woocommerce-page img {
  height: auto!important;

}
.woocommerce table.shop_table td {
  border-top: 1px solid rgba(0,0,0,.1)!important;
  padding: 10px 16px!important;
}
.product-name a{
  color: #000!important;
}
.product-name a:hover{
  color: #f5f710!important;
}
.quantity{
  display: inline-flex;
}
.woocommerce .quantity .qty {
  width: 35px!important;
  border: 1px solid #0000001a!important;
  border-radius: 5px;
}
.coupon, .wcppec-checkout-buttons {
  display: none;
}
.quantity .minus , .plus{
  background: transparent;
    border: 0;
    cursor: pointer;
}
.woocommerce table.shop_table tbody:first-child tr:first-child td, .woocommerce table.shop_table tbody:first-child tr:first-child th {
  border-top: 0!important;
}
.woocommerce table.shop_table th {
  font-weight: 700;
  padding: 30px 12px!important;
}
.woocommerce-message {
  display: none!important
}
.woocommerce-info {
  display: none;
}
.woocommerce-breadcrumb{
  margin-top: 200px;
  font-size: .8rem;
  color: #0e57a4;
}
.woocommerce-breadcrumb a{
  font-size: .8rem;
  color: #0e57a4;
}
.site-main {
  margin: 150px;
}
 .woocommerce-loop-product__link img{
  width: 130px!important;
  height: 130px!important;
  padding: 10px;

}

/* .product{
  height: 330px;
  width: 258px;
} */
ul.products.columns-3 {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}


li.product_cat-uncategorized{
  box-shadow: 0px 4px 12px #e0cfcf;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  text-align: center;
  list-style: none;
  height: 290px;
  width: 23%;
  margin: 1%;
}
.woocommerce-products-header__title .page-title{
  margin: 0 12px;
}
.woocommerce-loop-product__title{
  font-family: 'Poppins', sans-serif !important;
  font-size: 1rem;
}

.product_cat-uncategorized .price{
  display: grid;
  height: 60px;
}
.product_type_simple .add_to_cart_button .ajax_add_to_cart .button {
  background: #f5f70d!important;
  border: none;
  padding: 14px 38px!important;
  border-radius: 5px;
  margin-top: 30px;
  font-size: .8rem!important;
  cursor: pointer;
  color: #000 !important;
}
}
.woocommerce-Price-amount{
  font-weight: 800;
}
.added_to_cart {
  border: none;
  padding:  14px 38px;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 1rem;
  cursor: pointer;
  color:   #43a047!important;

}
.orderby{
  background: transparent;
  border: 1px solid #0e57a4;
  border-radius: 5px;
  font-size: .9rem;
  cursor: pointer;
  dis
}